
<div class="container">
    <div class="row">
        @for( item of districts ; track item.id) {
     <div class="col-lg-3 pt-2">
      <div class="card my-3" style="width: 18rem; height:26rem">
        <img src="{{ item.image }}" class="img1 card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">{{ item.title }}</h5>
        <p class="card-text">
        {{ item.discription| slice:0:100 }} ............

         </p>
         <a [routerLink]="['/district',item.id]" class="btn btn-primary">See more</a>

    </div>
  </div>
 </div>
}      
        
</div>

